<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="{{ static_url("css/layout.css") }}" type="text/css"/>
    <title>文献下载</title>
</head>
<body>
    <div class="main">
        <table class="result">
            <tr>
                 <td><h2>文献下载已完成</h2></td>
            </tr>
            <tr>
                <td><a href="http:{{url}}">点击直接阅读文献</a></td>
            </tr>
            <tr>
                <td>{{summary}}</td>
            </tr>
            <tr>
                <td>CBRC 版权所有&copy;2013</td>
            </tr>
        </table>
     </div>
</body>
</html>
