<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="{{ static_url("css/layout.css") }}" type="text/css"/>
    <title>文献下载</title>
</head>
<body>
    <div class="main">
        <table class="result">
            <tr>
                 <td><h2>抱歉，文献下载失败</h2></td>
            </tr>
            <tr>
                <td>文献链接或邮箱有误，请重新输入</td>
            </tr>
            <tr>
                <td>如确认信息无误，则请求的文献无权限下载</td>
            </tr>
            <tr>
                <td>CBRC 版权所有&copy;2013</td>
            </tr>
        </table>
     </div>
</body>
</html>
