<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="{{ static_url("css/layout.css") }}" type="text/css"/>
    <title>文献下载</title>
</head>
<body>
    <div class="main">
        <form method="post" action="/done">
            <table>
                <tr>
                    <td colspan=3><h2>CBRC - 文献下载服务</h2></td>
                </tr>
                <tr>
                    <td> 文献链接：</td>
                    <td> <input type="text" name="url" class="txt"> </td>
                    <td rowspan=2> <input type="submit" value="提交请求" class="sub"> </td>
                </tr>
                <tr>
                    <td> 接收邮箱：</td>
                    <td> <input type="text" name="email" class="txt"> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
